*.py[co]
*.so
*.sw[nop]
.#*
.DS_Store
.sync-config.cson
._*
\#*\#
build
dist
*~
*.log
precomputed
.pydevproject
.project
*.sublime-*
virtualenv_run
.ropeproject
.tox
apollo.egg-info/
sandbox/apollo_sandbox.egg-info
sandbox/build
sandbox/dist
__pycache__
.idea/
*.iml
version
.seagull_build
seagull/tasks_with_times.list
seagull_executor.tgz
.jolt_build
jolt_executor.tgz
jolt/tasks.list
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json